@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 1px !important;
}
.ant-rate {
  font-size: 15px !important;
}

.article-content {
  all: revert;
}

.article-content * {
  all: revert;
}
html,
body {
  height: 100%;
  margin: 0;
}
